<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burgers!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />

    <div class="container">
        <div class="d-flex justify-content-center mt-4">
            <img src="assets/images/burger.jpg" alt="burger image">
        </div>
        <div class="text-center mt-4">
            <h1>Eat-Da-Burger</h1>
            <h5>Order a burger below to add to Your Burgers, Eat it to move out of your list.</h5>
        </div>

        <body>
            {{{ body }}}
        </body>
    </div>

</html>